---
---

.mdl-layout__container
  position: relative

@import "autocomplete"
@import "syntax-highlighting"
@import "search"
@import "mdl-refactoring"
@import "header"
@import "footer"
@import "gist"

$font-color: #424242

blockquote p
  margin-bottom: 0

body
  color: $font-color
  font-weight: 400

a
  text-decoration: none

i.fa.fa-external-link
  font-size: 16px
  position: relative
  bottom: 8px

code
  font-family: 'Inconsolata', monospace
  border-radius: 0
  font-size: 100%
  padding: 2px 4px
  color: #c7254e
  background-color: #f9f2f4

pre
  display: block
  padding: 9.5px
  margin: 0 0 10px
  font-size: 13px
  border: 0
  background-color: #272822
  color: white
  border-radius: 0
  code
    padding: 0
    font-size: inherit
    color: inherit
    white-space: pre-wrap
    background-color: transparent

h1, h2, h3
  font-weight: 500

h1
  font-size: 200%
  color: $font-color

h2
  font-size: 170%
  color: $font-color

h3
  font-size: 130%
  color: $font-color

.github-edit
  a
    opacity: 0.5
    font-size: 12px
    color: #888
  a:hover
    text-decoration: none
    color: #222

.modified-at
  opacity: 0.5
  font-size: 12px
  color: #888

.fa-rss
  color: #fa9b39


