---
---

@import "search";
@import "menu";
@import "syntax-highlighting";

$font-color: #03a9f4;

.main-content {
  border-left: .25rem solid #eceeef;
  .github-edit {
    a, a:hover, a:focus {
      color: hsla(0, 0%, 65%, 1);
      font-size: 14px;
    }
  }
  h1, h2, h3, h4 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
}

.sidebar-nav {
  margin-bottom: 3%;
  margin-top: 6%;
  padding: 4%;
  border-top: .15rem solid #eceeef;
  border-bottom: .15rem solid #eceeef;
  color: hsla(0, 0%, 40%, 1);
  a, a:hover, a:focus {
    color: hsla(0, 0%, 40%, 1);
    font-size: 15px;
    margin-left: 7px;
  }
  a:hover, a:focus {
    text-decoration: underline;
  }
}

body {
  font-family: Roboto, HelveticaNeue, Helvetica, Arial, sans-serif;
  background-color: #FAFAFA;
  p {
    margin: 0 0 10px;
  }
  ul {
    margin: 0 0 10px;
  }
  a {
    color: hsla(199,97%,45%,1);
    outline: none;
  }
}

blockquote {
  background-color: #D9EDF7;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: normal;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  &:after {
    content: none !important
  }
  &:before {
    content: none !important
  }
}

.list-unstyled {
  list-style-type: none;
  padding: 0;
}

.navbar {
  background-color: $font-color;
  font-family: 'lato', sans-serif;
}

.navbar .navbar-nav > li > a {
  color: white;
  margin: 0 20px;
  &:hover, &:focus, &.active {
    color: #215f8b;
    text-decoration: none;
  }
}

.breadcrumb {
  margin: auto;
}

.logo-img {
  height: 29px;
}

a {
  color: $font-color;
  text-decoration: none;
  font-weight: 500;
}
a:hover, a:focus, a:active {
  color: $font-color;
  text-decoration: none;
}

.languages {
  .thumbnail {
    oberflow: hidden;
    margin: auto;
    max-width: 94px;
  }
  a {
    text-align: center;
  }
  img {
    width: 100%;
    height: 95px;

  }
  h4 {
    font-size: 1.1em;
  }
}

.card {
  word-wrap: break-word;
  margin-bottom: 8%;
}

code, a > code {
  font-family: 'Inconsolata', monospace;
  border-radius: 0;
  font-size: 100%;
  padding: 2px 4px;
  color: #c7254e;
  background-color: #f9f2f4;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  border: 0;
  background-color: #272822;
  color: white;
  border-radius: 0;
  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
  }
}
