---
---

@import "search";
@import "menu";
@import "index";
@import "syntax-highlighting";
@import "autocomplete";
@import "header";
@import "footer";
@import "gist";

$font-color: #03a9f4;

.page-content {
  padding-bottom: 80px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  letter-spacing: 0.3px;
}

.main-content {
  .github-edit {
    a, a:hover, a:focus {
      color: hsla(0, 0%, 65%, 1);
      font-size: 14px;
    }
  }
  h1, h2, h3, h4 {
    padding: 25px 0;
    margin: 0;
  }
  .pull-right {
    margin-top: 8px;
  }
  .modified-at {
    opacity: 0.5;
    font-size: 12px;
    color: #888;
  }
}

.sidebar-nav {
  padding: 20px;
  margin-bottom: 20px;
  border-top: 1px solid hsla(0, 0%, 85%, 1);
  border-bottom: 1px solid hsla(0, 0%, 85%, 1);
  color: hsla(0, 0%, 60%, 1);
  .title {
    padding-top: 0;
  }
  .fa-li {
    margin-top: 1px;
  }
  a {
    color: hsla(0, 0%, 60%, 1);
    &:hover, &:focus {
      color: hsla(0, 0%, 40%, 1);
      text-decoration: underline;
    }
  }
  span {
    position: absolute;
    margin-top: 4px;
  }
}

body {
  color: rgba(0, 0, 0, 0.87);
  background-color: whitesmoke;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  p {
    margin: 5px 0;
  }
  ul {
    margin: 10px 0;
  }
  a {
    color: hsla(199,97%,45%,1);
    outline: none;
  }
}

body.noscroll {
    overflow: hidden;
}

nav.navbar {
  border-bottom: 0;
}

blockquote {
  background-color: #D9EDF7 !important;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: normal;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  &:after {
    content: none !important;
  }
  &:before {
    content: none !important;
  }
}

.bg-info {
  background-color: #D9EDF7 !important;
}

.list-unstyled {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: $font-color;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  color: $font-color;
  text-decoration: none;
}

// .card {
//   word-wrap: break-word;
//   margin-bottom: 8%;
// }

.card {
  border: 0;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
  .card-block {
    padding: 16px;
  }
  h1 {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 2rem;
    margin: 0;
  }
  h2 {
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.25rem;
    color: rgba(0, 0, 0, 0.87);
    margin:  0.8rem 0 0 0;
  }
}

code, a > code {
  font-family: 'Inconsolata', monospace;
  border-radius: 0;
  padding: 2px 4px;
  color: #c7254e;
  background-color: #f9f2f4;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  border: 0;
  background-color: #272822;
  color: white;
  border-radius: 0;
  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
  }
}

.categories {
  li {
    list-style: none;
    margin: 10px 0;
    span {
      color: hsla(0, 0%, 50%, 1);
    }
  }
}
