---
---

@import "bootstrap";

.navbar-default {
	background-color: #03a9f4;
	font-family: 'lato', sans-serif;
	padding: 0 17%;
}

.navbar-default .navbar-nav > li > a {
	color: white;
	&:hover, &:focus, &.active {
		color: #215f8b;
	}
}

.logo-img {
	height: 100%;
}
