<aside class="mdc-drawer mdc-drawer--modal d-print-none" id="scalingo-main-menu"><div class="mdc-drawer__content">
<nav class="mdc-list"><a class="mdc-list-item" href="https://scalingo.com/runtimes"><span class="translation_missing" title="translation missing: en.shared.drawer.technologies">Technologies</span></a>
<a class="mdc-list-item" href="https://scalingo.com/databases"><span class="translation_missing" title="translation missing: en.shared.drawer.databases">Databases</span></a>
<a class="mdc-list-item" href="https://scalingo.com/addons"><span class="translation_missing" title="translation missing: en.shared.drawer.addons">Addons</span></a>
<a class="mdc-list-item" href="https://scalingo.com/pricing"><span class="translation_missing" title="translation missing: en.shared.drawer.pricing">Pricing</span></a>
<a class="mdc-list-item" href="https://scalingo.com/articles"><span class="translation_missing" title="translation missing: en.shared.drawer.blog">Blog</span></a>
<a class="mdc-list-item" href="https://doc.scalingo.com"><span class="translation_missing" title="translation missing: en.shared.drawer.docs">Docs</span></a><div class="mdc-list">
  <a href="/" data-index="0" class="mdc-list-item">
    Guides
  </a>
  <a href="/samples" data-index="1" class="mdc-list-item">
  Samples
  </a>
  <a href="/cli" data-index="2" class="mdc-list-item">
  CLI
  </a>
  <a href="/changelog" data-index="3" class="mdc-list-item">
  Changelog
  </a>
  <a href="https://developers.scalingo.com" target="_blank" data-index="4" class="mdc-list-item">
  API Reference
  <i class="material-icons">open_in_new</i>
  </a>
</div>

<a class="mdc-list-item" href="https://dashboard.scalingo.com"><span class="translation_missing" title="translation missing: en.shared.drawer.sign_in">Sign In</span></a>
<a class="mdc-list-item" href="https://auth.scalingo.com/users/sign_up"><span class="translation_missing" title="translation missing: en.shared.drawer.sign_up">Sign Up</span></a>
</nav></div>
</aside><div class="mdc-drawer-scrim"></div>
