# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# Development tools
.idea
.vscode

# AI
.agents
.claude
.codex

# Jekyll
_site
public
.sass-cache
.jekyll-metadata
.bundle
vendor
TODO.txt
tmp
node_modules
yarn-error.log
.jekyll-cache
src/assets/**
