---
layout: changelog
title: Changelog
subnav_index: changelog
date: 2015-09-09 00:00:00
---

<h1 class="d-flex">
  Changelog
  <a href="/changelog/feed.xml" class="ml-auto">
    <svg aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <use xlink:href="#rss"></use>
    </svg>
  </a>
</h1>

{% assign postsByYear = site.categories.changelog | group_by_exp:"post", "post.date | date: '%Y'" %}
{% for year in postsByYear %}
  <div class="mdc-typography--title mt-5 mb-3 changelog--year">{{ year.name }}</div>
  <div class="mdc-card changelog-card">
    <nav>
      <ul>
        {% for post in year.items %}
          {% assign body = post.content | xml_escape | strip_html | strip_newlines | remove:' ' %}
          <li class="heading" data-type="heading" data-state="{% if body != "" %}closed{% else %}empty{% endif %}">
            <div class="nav-title d-flex">
              <div class="col-12 col-md-2">
                {{ post.date | date: "%b %-d, %Y" }}
              </div>
              <div class="col-12 col-md-2 changelog-entry--category">
                {{ post.categories | last | split: "_" | join: " " }}
              </div>
              <div class="col-12 col-md-8 changelog-entry--title">
                {{ post.title }}
                {% if post.github %}
                  <a target="_blank" href="{{ post.github }}">
                    <svg aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <use xlink:href="#github"></use>
                    </svg>
                  </a>
                {% endif %}
              </div>
            </div>
            {% if body != "" %}
            <ul>
              <li>
                {{ post.content }}
              </li>
            </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
{% endfor %}
