@import "font-awesome"
@import "bootstrap"

$menu-color: #e7e7e7
$text-menu-color: #333333
$info-background-color: #ccccff
$border-menu-color: darken($menu-color, 20%)

@import "./_github"
@import "./_index"
@import "./_sidebar"
@import "./_syntax"

body
  background-color: #F4F4F4
  color: #394D54
  font-family: "Droid Sans",sans-serif
  font-size: 14px
  line-height: 20px
  margin: 0

.navbar
  border-bottom: 1px solid $border-menu-color
  background-color: $menu-color

.navbar a.navbar-brand
  color: #129BCA
  font-family: "Cabin Condensed",sans-serif
  font-size: 30px
  font-weight: 700
  line-height: 30px
  position: relative
  top: 10px

.navbar .nav > li > a
  line-height: 35px
  padding: 10px

.navbar .nav > li > a
  color: #777777
  float: none
  text-decoration: none
  text-shadow: 0 1px 0 #E7E7E7

.nav > li > a:hover, .nav > li > a:focus
  background-color: inherit
  color: #333

a
  color: #24B8EB
  text-decoration: none

a:hover, a:focus
  color: #1089B2
  text-decoration: underline

h1, h2, h3
  color: #394D54
  font-family: "Cabin Condensed",sans-serif

.lighter
  background-color: #FCFDFD

.superblock
  padding-bottom: 15px
  padding-left: 15px
  padding-right: 15px

.block
  background-color: #FCFDFD
  border: 1px solid rgba(86, 61, 124, 0.2)
  padding: 15px

blockquote
  font-size: 10pt
  &.info
    background-color: $info-background-color
  img
    padding: 5px 5px 5px 5px
    border: 1px solid #aaaaaa
    box-shadow: 3px 3px 3px #7C7C7C
