.not-found {
  background: linear-gradient(-45deg, #2066ab, #328bc7, #45b0e6) right top/100% 100% no-repeat #2066ab;
  padding-top: 50px;
  padding-bottom: 20px;
  margin-top: -40px;
  margin-bottom: -40px;

  h1, h2 {
    color: white;
  }

  h1 {
    padding-bottom: 20px;
  }
}
