header.scalingo-toolbar--custom {
  z-index: 5;
  box-shadow: none;
}
header.scalingo-toolbar--custom + .scalingo-toolbar--custom {
  height: 112px;
  top: 56px;
  > .mdc-top-app-bar__row {
    color: white;
    .mdc-top-app-bar__title {
      margin-left: 0;
      font-weight: 400;
      letter-spacing: unset;
      padding: 20px 0 0 0;
      line-height: 32px;
      display: block;
      color: rgba(255, 255, 255, 0.87);
    }
    .mdc-tab-bar {
      height: 64px;
      overflow: hidden;
      transition: width 0.3s ease-out;
      &.search-expanded {
        width: 0;
        + .search {
          width: 100%;
          overflow: unset;
        }
      }
      .mdc-tab {
        @extend .justify-content-start;
        flex: unset;
        height: 64px;
        line-height: 64px;
        .mdc-tab__text-label {
          line-height: 64px;
          .material-icons {
            font-size: inherit;
            vertical-align: -0.125em;
          }
        }
      }
    }
    .mdc-tab-bar:not(.mdc-tab-bar-upgraded) .mdc-tab--active, .mdc-tab-bar:not(.mdc-tab-bar-upgraded) .mdc-tab:not(.mdc-tab--active):active .mdc-tab__indicator {
      opacity: 1;
    }
    .mdc-tab {
      opacity: 1;
      transition: color .2s;
      .mdc-tab__text-label {
        color: rgba(255,255,255, 0.7);
      }
      &.mdc-tab--active, &:hover, &:active {
        .mdc-tab__text-label {
          color: rgba(255,255,255,1);
        }
      }
      &:hover {
        &:before {
          opacity: 0;
        }
      }
    }
    .mdc-tab-indicator {
      .mdc-tab-indicator__content--underline {
        border-color: white;
      }
    }
    .search {
      color: white;
      background-color: rgba(255, 255, 255, 0.3);
      height: 36px;
      margin-top: 9px;
      margin-bottom: 9px;
      transition: width 0.3s ease-out;
      width: 100%;
      .mdc-text-field__input {
        border-bottom-width: 0;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 0.875rem;
        width: 100%;
      }
      .mdc-text-field__input, .mdc-text-field__input::placeholder {
        color: white;
      }
      .mdc-text-field__icon {
        color: white;
        bottom: 6px;
      }
      input {
        padding-top: 10px;
        padding-bottom: 10px;
        transition: background-color .2s;
      }
    }
  }
}

.mdc-top-app-bar--prominent-fixed-adjust {
  padding-top: 192px;
}

.mdc-drawer {
  .material-icons {
    font-size: inherit;
    vertical-align: -0.125em;
  }
}

.mdc-list {
  .mdc-list {
    padding-left: 20px;
    padding-top: 0;
    margin-top: -5px;
    .mdc-list-item {
      height: 22px;
      font-size: 80%;
      line-height: 80%;
    }
  }
}

.mdc-list-item {
  &.active {
    color: $brand-primary;
  }
}

@media (min-width: 768px) {
  header.scalingo-toolbar--custom + .scalingo-toolbar--custom  {
    height: 128px;
    top: 64px;
    > .mdc-top-app-bar__row {
      .mdc-top-app-bar__title {
        padding-top: 32px;
      }
      .search {
        width: auto;
        margin-top: 14px;
        margin-bottom: 14px;
        .mdc-text-field__input {
          max-width: 100%;
          transition: width 0.3s ease-out;
        }
      }
    }
  }
}
