---
title: NodeJS
category: languages
date: 23/09/2014
tags: programming, dev, nodejs, language
---

:markdown
  # NodeJS

  The NodeJS runtime is supported

  ## Buildpack

  [NodeJS Buildpack](https://github.com/Appsdeck/heroku-buildpack-nodejs)
