<div class="mt-5 flex rounded-md">
  <div class="relative flex items-stretch flex-grow focus-within:z-10">
    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
      {% icon glass %}
    </div>
    <input type="text" name="filter" id="filter"
           class="border block w-full rounded-none rounded-l-md pl-10 border-sc-gray-3 placeholder-sc-gray-1 text-sc-gray-1"
           placeholder="Filter">
  </div>
  <button type="button" class="-ml-px relative inline-flex items-center space-x-2 px-16 py-5 text-sc-text-5 font-bold rounded-r-md text-sc-gray-5 bg-sc-blue-1">
    <span>Filter</span>
  </button>
</div>
<script type="application/javascript">
  const input = document.getElementById('filter');
  input.addEventListener('change', updateValue);

  function updateValue(e) {
    const collection = document.getElementsByClassName("filterable-card");
    let filter = e.target.value.toLowerCase();
    for (var k in collection) {
      let item = collection[k];
      if (!item.dataset) {
        continue;
      }
      let cardValue = item.dataset.card.toLowerCase();
      item.classList.add('hidden');
      if (cardValue.includes(filter)) {
        item.classList.remove('hidden');
      }
      if (filter == '') {
        item.classList.remove('hidden');
      }
    }
  }
</script>
