---
title: Haskell
category: languages
date: 26/01/2015
tags: programming, dev, haskell, language
---

:markdown
  # Haskell

  Haskell is officially supported on Scalingo

  It uses cabal-1.14.0.

  ## Usage

      $ ls
      Procfile app.cabal src

      $ scalingo create haskell-app

      $ git push scalingo master
      ...
      -----> Haskell app detected
      -----> Building app with cabal
      -----> Running: cabal install

  # Buildpack

  For more information, go to https://github.com/Scalingo/haskell-buildpack
