<ul>
  {% for item in include.children %}
    <li data-index="{{ item.index }}" data-type="{{item.type}}" data-state="{% if page.url contains item.url %}open{% else %}closed{% endif %}">
      {% if item.type == "dir" %}
        <span class="nav-title" data-url="{{ item.url }}">
          {{item.title}}
        </span>
        {% include organisms/navigation/children.html children=item.children %}

      {% else %}
        <a href="{{ item.url }}" {% if page.url == item.url %}class="active"{% endif %}>{{ item.title }}</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
