<nav>
  <ul>
    {% for item in site.data.tree %}
      <li>
        <input
          type="checkbox" id="{{item.url | url_encode  }}" class="hidden"
          {% if page.url contains item.url %}checked="true"{% endif %}
        >
        <label for="{{item.url | url_encode}}" class="cursor-pointer flex items-center px-6">
          <span class="
            text-sc-gray-2 text-sc-title-7 uppercase py-3 flex-grow
            {% if page.url contains item.url %}text-sc-blue-1{% endif %}
          ">
            {{item.title}}
          </span>
          <div>{% icon chevron_right %}</div>
        </label>
        <hr class="border-sc-gray-2 opacity-5"/>
        <div class="hidden ml-3">
          {% include organisms/navigation/children.html children=item.children %}
        </div>
      </li>
    {% endfor %}
  </ul>
</nav>
