<h1 class="mb-4">Extend your app with addons</h1>

<div class="row">
  <div class="thumbnail">
    <a href="/articles/scalingo-mysql-addon">
      <img src="//cdn.scalingo.com/addons/Scalingo_MySQL.svg" alt="Scalingo mysql" />
      <h2 class="mt-1 mb-0">Scalingo MySQL</h2>
    </a>
  </div>
  <div class="thumbnail">
    <a href="/articles/scalingo-postgresql-addon">
      <img src="//cdn.scalingo.com/addons/Scalingo_Postgresql.svg" alt="Scalingo postgresql" />
      <h2 class="mt-1 mb-0">Scalingo PostgreSQL</h2>
    </a>
  </div>
  <div class="thumbnail">
    <a href="/articles/scalingo-influxdb-addon">
      <img src="//cdn.scalingo.com/addons/Scalingo_Influx_20160624151600.svg" alt="Scalingo influx 20160624151600" />
      <h2 class="mt-1 mb-0">Scalingo InfluxDB</h2>
    </a>
  </div>
  <div class="thumbnail">
    <a href="/articles/scalingo-mongodb-addon">
      <img src="//cdn.scalingo.com/addons/Scalingo_MongoDB_20151203113100.svg" alt="Scalingo mongodb 20151203113100" />
      <h2 class="mt-1 mb-0">Scalingo MongoDB</h2>
    </a>
  </div>
  <div class="thumbnail">
    <a href="/articles/scalingo-elasticsearch-addon">
      <img src="//cdn.scalingo.com/addons/Scalingo_Elasticsearch.svg" alt="Scalingo elasticsearch" />
      <h2 class="mt-1 mb-0">Scalingo Elasticsearch</h2>
    </a>
  </div>
  <div class="thumbnail">
    <a href="/articles/scalingo-redis-addon">
      <img src="//cdn.scalingo.com/addons/Scalingo_Redis.svg" alt="Scalingo redis" />
      <h2 class="mt-1 mb-0">Scalingo Redis</h2>
    </a>
  </div>
</div>

<div class="d-inline-block">
  And more:
  <ul class="list-inline d-inline-block">
    <li class="list-inline-item"><a href="/articles/docker-image-addon">Scalingo Docker Image</a></li>
    <li class="list-inline-item"><a href="/articles/object-storage">Scalingo Object Storage</a></li>
    <li class="list-inline-item"><a href="/articles/shared-file-system-addon">Scalingo Shared Filesystem</a></li>
    <li class="list-inline-item"><a href="/articles/vpn-ipsec-addon">Scalingo VPNC IPSec</a></li>
  </ul>
</div>
