<h3>Extend your app with addons</h3>

<div class="col-12">
  <div class="row">
    <div class="thumbnail">
      <a href="/scalingo-mysql-addon">
        <img src="//cdn.scalingo.com/addons/Scalingo_MySQL.svg" alt="Scalingo mysql" />
        <h4 class="caption">Scalingo MySQL</h4>
      </a>
    </div>
    <div class="thumbnail">
      <a href="/scalingo-postgresql-addon">
        <img src="//cdn.scalingo.com/addons/Scalingo_Postgresql.svg" alt="Scalingo postgresql" />
        <h4 class="caption">Scalingo PostgreSQL</h4>
      </a>
    </div>
    <div class="thumbnail">
      <a href="/scalingo-influxdb-addon">
        <img src="//cdn.scalingo.com/addons/Scalingo_Influx_20160624151600.svg" alt="Scalingo influx 20160624151600" />
        <h4 class="caption">Scalingo InfluxDB</h4>
      </a>
    </div>
    <div class="thumbnail">
      <a href="/scalingo-mongodb-addon">
        <img src="//cdn.scalingo.com/addons/Scalingo_MongoDB_20151203113100.svg" alt="Scalingo mongodb 20151203113100" />
        <h4 class="caption">Scalingo MongoDB</h4>
      </a>
    </div>
    <div class="thumbnail">
      <a href="/scalingo-elasticsearch-addon">
        <img src="//cdn.scalingo.com/addons/Scalingo_Elasticsearch.svg" alt="Scalingo elasticsearch" />
        <h4 class="caption">Scalingo Elasticsearch</h4>
      </a>
    </div>
    <div class="thumbnail">
      <a href="/scalingo-redis-addon">
        <img src="//cdn.scalingo.com/addons/Scalingo_Redis.svg" alt="Scalingo redis" />
        <h4 class="caption">Scalingo Redis</h4>
      </a>
    </div>
  </div>
</div>

<ul>
  And more:
  <a href="/docker-image-addon">Scalingo Docker Image</a>
  <a href="/object-storage">Scalingo Object Storage</a>
  <a href="/filesystem">Scalingo Shared Filesystem</a>
  <a href="/vpn">Scalingo VPNC IPSec</a>
</ul>
