<footer class="realfooter">
<div class="container">
<div class="row mb-3">
<div class="col-12 col-md-3 col-lg-1-5">
<svg class="scalingo-logo-inverse" viewbox="0 0 136.35483 35.9" xmlns="http://www.w3.org/2000/svg">
<use xlink:href="#scalingo-logo"></use>
</svg>
</div>
<div class="col-12 col-md-9 col-lg-4-5">
<div class="d-flex">
<a target="_blank" rel="nofollow external noopener" class="mdc-fab mdc-fab--mini mb-0 mr-3 mr-md-4 my-2 my-md-0" href="https://twitter.com/ScalingoHQ"><svg class="svg-inline--fa fa-twitter fa-w-auto icon" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512"><use xlink:href="#twitter"></use></svg>
</a><a target="_blank" rel="nofollow external noopener" class="mdc-fab mdc-fab--mini mb-0 mr-3 mr-md-4 my-2 my-md-0" href="https://www.facebook.com/ScalingoHQ"><svg class="svg-inline--fa fa-facebook-f fa-w-auto icon" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512"><use xlink:href="#facebook-f"></use></svg>
</a><a target="_blank" rel="nofollow external noopener" class="mdc-fab mdc-fab--mini mb-0 mr-3 mr-md-4 my-2 my-md-0" href="https://plus.google.com/+ScalingoHQ"><svg class="svg-inline--fa fa-google-plus-g fa-w-auto icon" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512"><use xlink:href="#google-plus-g"></use></svg>
</a><a target="_blank" rel="nofollow external noopener" class="mdc-fab mdc-fab--mini mb-0 mr-3 mr-md-4 my-2 my-md-0" href="https://github.com/Scalingo"><svg class="svg-inline--fa fa-github fa-w-auto icon" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512"><use xlink:href="#github"></use></svg>
</a><a target="_blank" rel="nofollow external noopener" class="mdc-fab mdc-fab--mini mb-0 mr-3 mr-md-4 my-2 my-md-0" href="https://telegram.me/scalingo"><svg class="svg-inline--fa fa-telegram-plane fa-w-auto icon" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512"><use xlink:href="#telegram-plane"></use></svg>
</a><a target="_blank" rel="nofollow external noopener" class="mdc-fab mdc-fab--mini mb-0 mr-3 mr-md-4 my-2 my-md-0" href="https://www.linkedin.com/company/scalingo"><svg class="svg-inline--fa fa-linkedin-in fa-w-auto icon" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512"><use xlink:href="#linkedin-in"></use></svg>
</a></div>
</div>
</div>
<div class="row">
<div class="col-12 col-md">
<div class="text-small text-white">
<div class="status mb-3 d-flex flex-row justify-content-start">
<a class="status-icon mr-2" target="_blank" rel="noopener" href="https://status.scalingo.com"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg>

</a><a class="status-link" target="_blank" rel="noopener" href="https://status.scalingo.com">Platform status</a>
</div>
<span class="text-bold">Scalingo SAS</span>
<br />
15 avenue du Rhin
<br />
67100 Strasbourg
<br />
France
<br />
SIRET 80866548300018
<div class="like-link mt-3">
Made with <svg class="svg-inline--fa fa-magic-wand fa-w-16 mx-1" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512"><title>magic</title><use xlink:href="#magic-wand"></use></svg> in <svg class="svg-inline--fa fa-flag-europe fa-w-16 ml-1" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 300 300"><title>Europe</title><use xlink:href="#flag-europe"></use></svg>
</div>
</div>
</div>
<div class="col-12 col-md d-print-none">
<strong class="mb-1 mt-4 mt-md-0 d-block">Product</strong>
<ul class="list-unstyled mb-0">
<li class="text-small">
<a href="/pricing">Pricing
</a></li>
<li class="text-small">
<a href="/technologies">Technologies
</a></li>
<li class="text-small">
<a href="/technologies">Add-ons and databases
</a></li>
<li class="text-small">
<a href="/enterprise">Scalingo Enterprise
</a></li>
</ul>
</div>
<div class="col-12 col-md d-print-none">
<strong class="mb-1 mt-4 mt-md-0 d-block">For Developers</strong>
<ul class="list-unstyled mb-0">
<li class="text-small">
<a href="https://doc.scalingo.com">Documentation
</a></li>
<li class="text-small">
<a href="https://developers.scalingo.com">API Reference
</a></li>
<li class="text-small">
<a href="http://cli.scalingo.com">Command Line Interface
</a></li>
<li class="text-small">
<a href="http://changelog.scalingo.com">Changelog
</a></li>
<li class="text-small">
<a href="http://samples.scalingo.com">Samples
</a></li>
</ul>
</div>
<div class="col-12 col-md d-print-none">
<strong class="mb-1 mt-4 mt-md-0 d-block">Company</strong>
<ul class="list-unstyled mb-0">
<li class="text-small">
<a href="/about">About
</a></li>
<li class="text-small">
<a href="/articles">Blog
</a></li>
<li class="text-small">
<a href="/jobs">Jobs
</a></li>
<li class="text-small">
<a href="/datacenters">Datacenters
</a></li>
<li class="text-small">
<a href="/mediakit.zip">Media Kit &amp; Logos
</a></li>
</ul>
</div>
<div class="col-12 col-md d-print-none">
<strong class="mb-1 mt-4 mt-md-0 d-block">Contact &amp; support</strong>
<ul class="list-unstyled mb-0">
<li class="text-small">
<a href="/contact">Contact
</a></li>
<li class="text-small">
<a target="_blank" rel="nofollow external noopener" href="https://twitter.com/ScalingoHQ">Twitter
</a></li>
<li class="text-small">
<a href="https://doc.scalingo.com">Documentation
</a></li>
<li class="text-small">
<a target="_blank" rel="nofollow external noopener" href="http://us7.campaign-archive2.com/home/?u=208037d122a791275e9a8465a&amp;id=b91688b390">Newsletters
</a></li>
</ul>
</div>
</div>
</div>
</footer><footer class="extra">
<div class="container">
<div class="row">
<div class="col-12 d-flex flex-column flex-md-row">
<span class="mr-5">
©2018 Scalingo
</span>
<a class="ml-0 ml-md-4 mt-3 mt-md-0" href="/terms-of-service">Terms of Service</a>
<a class="ml-0 ml-md-4 mt-3 mt-md-0" href="/privacy-policy">Privacy Policy</a>
<a class="ml-0 ml-md-4 mt-3 mt-md-0" href="/data-processing-agreement">Data Processing Agreement (GDPR compliant)</a>
<div class="ml-md-auto mt-3 mt-md-0">
<a href="#top">↑ Back to top</a>
</div>
</div>
</div>
</div>
</footer>