
<h1 class="mb-4">Choose your favorite language</h1>

<div class="row">
  <div class="thumbnail">
    <a href="/articles/ruby">
      <img src="https://cdn.scalingo.com/homepage/assets/technologies/svg/ruby-5fee0b87880eba1d6660458587381ceb9a6bb124f4d7a6581f7ef15c6ee172c1.svg" alt="Ruby" />
      <h2 class="mt-1 mb-0">Ruby</h2>
    </a>
  </div>
  <div class="thumbnail">
    <a href="/articles/nodejs">
      <img src="https://cdn.scalingo.com/homepage/assets/technologies/svg/nodejs-a93e5754cc2c9cb881ba25ea4a86a26be1612faa299299adf9a169908f4fb984.svg" alt="Nodejs" />
      <h2 class="mt-1 mb-0">NodeJS</h2>
    </a>
  </div>
  <div class="thumbnail">
    <a href="/articles/meteor">
      <img src="https://cdn.scalingo.com/homepage/assets/technologies/svg/meteorjs-0d73e71498cf98d6728f15faa5a50c09d5bb2b0fdc6d39fd140e0d7c7c4107fd.svg" alt="Meteorjs" />
      <h2 class="mt-1 mb-0">MeteorJS</h2>
    </a>
  </div>
  <div class="thumbnail">
    <a href="/articles/php">
      <img src="https://cdn.scalingo.com/homepage/assets/technologies/svg/php-2d71f5f01eca45da137e01d2b6cb337d56becb8d89be6076bbe821ff75431cee.svg" alt="Php" />
      <h2 class="mt-1 mb-0">PHP</h2>
    </a>
  </div>
  <div class="thumbnail">
    <a href="/articles/python">
      <img src="https://cdn.scalingo.com/homepage/assets/technologies/svg/python-1fe87a79349e43b3de74d6c82476bae6038516d8af7d157c6717367d3966dd4e.svg" alt="Python" />
      <h2 class="mt-1 mb-0">Python</h2>
    </a>
  </div>
  <div class="thumbnail">
    <a href="/articles/java">
      <img src="https://cdn.scalingo.com/homepage/assets/technologies/svg/java-6f1ab3742b8bfa5c7395ad202534ddcf1dd837ef4b7a757fc8f4493915187147.svg" alt="Java" />
      <h2 class="mt-1 mb-0">Java</h2>
    </a>
  </div>
  <div class="thumbnail">
    <a href="/articles/scala">
      <img src="https://cdn.scalingo.com/homepage/assets/technologies/svg/scala-dae35d06cb8f5c45f2f0707af815cb16d261281119f4f72c4982e98930743716.svg" alt="Scala" />
      <h2 class="mt-1 mb-0">Scala</h2>
    </a>
  </div>
</div>

<div class="mt-4 more">
  And more: <a href="/articles/go">Go</a>, <a href="/articles/clojure">Clojure</a>, <a href="/articles/erlang">Erlang</a>, <a href="/articles/haskell">Haskell</a>, <a href="/articles/crystal">Crystal</a>, <a href="/articles/groovy">Groovy</a>.
</div>
