<h3>Choose your favorite language</h3>

<div class="col-12">
  <div class="row">
    <div class="thumbnail">
      <a href="/ruby">
        <img src="https://cdn.scalingo.com/homepage/assets/technologies/svg/ruby-5fee0b87880eba1d6660458587381ceb9a6bb124f4d7a6581f7ef15c6ee172c1.svg" alt="Ruby" />
        <h4 class="caption">Ruby</h4>
      </a>
    </div>
    <div class="thumbnail">
      <a href="/nodejs">
        <img src="https://cdn.scalingo.com/homepage/assets/technologies/svg/nodejs-a93e5754cc2c9cb881ba25ea4a86a26be1612faa299299adf9a169908f4fb984.svg" alt="Nodejs" />
        <h4 class="caption">NodeJS</h4>
      </a>
    </div>
    <div class="thumbnail">
      <a href="/meteor">
        <img src="https://cdn.scalingo.com/homepage/assets/technologies/svg/meteorjs-0d73e71498cf98d6728f15faa5a50c09d5bb2b0fdc6d39fd140e0d7c7c4107fd.svg" alt="Meteorjs" />
        <h4 class="caption">MeteorJS</h4>
      </a>
    </div>
    <div class="thumbnail">
      <a href="/php">
        <img src="https://cdn.scalingo.com/homepage/assets/technologies/svg/php-2d71f5f01eca45da137e01d2b6cb337d56becb8d89be6076bbe821ff75431cee.svg" alt="Php" />
        <h4 class="caption">PHP</h4>
      </a>
    </div>
    <div class="thumbnail">
      <a href="/python">
        <img src="https://cdn.scalingo.com/homepage/assets/technologies/svg/python-1fe87a79349e43b3de74d6c82476bae6038516d8af7d157c6717367d3966dd4e.svg" alt="Python" />
        <h4 class="caption">Python</h4>
      </a>
    </div>
    <div class="thumbnail">
      <a href="/java">
        <img src="https://cdn.scalingo.com/homepage/assets/technologies/svg/java-6f1ab3742b8bfa5c7395ad202534ddcf1dd837ef4b7a757fc8f4493915187147.svg" alt="Java" />
        <h4 class="caption">Java</h4>
      </a>
    </div>
    <div class="thumbnail">
      <a href="/scala">
        <img src="https://cdn.scalingo.com/homepage/assets/technologies/svg/scala-dae35d06cb8f5c45f2f0707af815cb16d261281119f4f72c4982e98930743716.svg" alt="Scala" />
        <h4 class="caption">Scala</h4>
      </a>
    </div>
    <div class="thumbnail">
      <a href="/clojure">
        <img src="https://cdn.scalingo.com/homepage/assets/technologies/svg/clojure-6c3983a5616989b60b5dcd2aa4cab0c2fa6c475335730dd6d9f48bc490455383.svg" alt="Clojure" />
        <h4 class="caption">Clojure</h4>
      </a>
    </div>
  </div>
</div>

<ul>
  And more:
  <a href="/crystal">Crystal</a>
  <a href="/haskell">Haskell</a>
  <a href="/erlang">Erlang</a>
  <a href="/javascript">Javascript</a>
  <a href="/go">Go</a>
  <a href="/groovy">Groovy</a>
</ul>
