<div class="menu">
  <h1>
    <a href="/">Scalingo Documentation</a>
  </h1>
  {% assign posts = (site.categories.presentation | sort: 'title') %}
    {% for post in posts %}
  <ul>
      <h6>{{ post.title }}</h6>
      {% if site.categories.[post.tags.first] %}
        {% assign subposts = (site.categories.[post.tags.first] | sort: 'title') %}
        {% for subpost in subposts %}
          <li id="currentpage">
            {% if subpost.url == page.url %}
              <details open>
                <summary style="list-style: none;">
            {% else %}
              <details>
                <summary style="list-style: none;">
            {% endif %}
              <a title="{{ subpost.title }}" href="{{ subpost.url }}"><p>{{ subpost.title }}</p></a>
            </summary>
              {% if site.categories.[subpost.tags.first] %}
                {% assign subposts2 = (site.categories.[subpost.tags.first] | sort: 'title') %}
                {% for subpost2 in subposts2 %}
                  <li style="margin-left: 5%;">
                    {% if subpost2.title == page.title %}
                      <a href="{{ subpost.url }}" style="font-weight: bold;"><p>{{ subpost2.title }}</p></a>
                    {% else %}
                      <a href="{{ subpost.url }}" style="font-weight: normal;"><p>{{ subpost2.title }}</p></a>
                    {% endif %}
                  </li>
                {% endfor %}
              {% endif %}
            </details>
          </li>
        {% endfor %}
      {% endif %}
  </ul>
    {% endfor %}
</div>
<script type="text/javascript">
  document.getElementById("currentpage").scrollIntoView()
</script>
