<section class="intro d-flex flex-column justify-content-center mdc-toolbar-fixed-adjust">
  <div class="container">
    <div class="row">
      <div class="search-block mx-auto text-center col-12 col-md-6">
        <a href="/" class="mdc-typography--display1 mb-0 d-block">Documentation Center</a>
        <div class="mdc-text-field mdc-text-field--with-leading-icon mt-5 mb-0">
          <i class="material-icons mdc-text-field__icon" tabindex="0">search</i>
          <input type="text" id="search-input" placeholder="Search" autofocus class="mdc-text-field__input">
        </div>
      </div>
    </div>
  </div>
</section>
