$font-color: #03a9f4;

.menu {
  display: flex;
  flex-direction: column;
  left: auto;
  overflow: hidden;
  max-width: 285px;
  ul {
    margin: 0px 0px 5px;
    padding: 0;
  }
  h6 {
    color: hsla(0, 0%, 50%, 1);
    font-weight: bold;
    font-size: 16px;
    margin-top: 1rem;
  }
  li {
    display: block;
    list-syle: none;
    font-size: 14px;
    margin: 0;
    a {
      color: hsla(0, 0%, 73%, 1);
    }
    a:hover {
      color: hsla(0, 0%, 32%, 1);
      text-decoration: none;
      p {
        background-color: hsla(0, 0%, 92%, 1);
      }
    }
    h1 {
      a:hover, a:focus, a:active {
        color: $font-color;
      }
    }
  }
  p {
    width: calc(100% - 3px);
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    padding: 1px 5px;
    margin: 0;
  }
  ul > li > ul {
    display: none;
    margin: 0 15px 0;
    font-size: 13px;
  }

  ul li:hover ul{
    display: block;
  }
}

.menu:hover {
  overflow-y: auto;
}
