<link rel="apple-touch-icon" sizes="180x180" href="/src/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/src/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/src/favicon/favicon.svg" />
<link rel="shortcut icon" href="/src/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/src/favicon/apple-touch-icon.png" />
<link rel="manifest" href="/src/favicon/site.webmanifest" />
<meta name="apple-mobile-web-app-title" content="Scalingo" />
<meta name="application-name" content="Scalingo" />
<meta name="msapplication-TileColor" content="#2d89ef" />
<meta name="theme-color" content="#ffffff" />
