<div class="bg-sc-gray-5 px-6">
  <div class="flex flex-col md:flex-row md:h-16 align-middle ">
    <div class="flex-grow flex items-center justify-center md:justify-start">
      <p class="my-6 md:my-0">©{{ site.time | date: '%Y' }} Scalingo</p>
    </div>
    <div class="flex flex-col md:flex-row items-center md:gap-10 text-sc-gray-2 space-y-5 md:space-y-0 pb-6 md:pb-0">
      <a class="hover:text-sc-blue-1" href="https://scalingo.com/terms-of-service">Terms of service</a>
      <a class="hover:text-sc-blue-1" href="https://scalingo.com/privacy-policy">Privacy politicy</a>
      <a class="hover:text-sc-blue-1" href="https://scalingo.com/data-processing-agreement">Data processing agreement</a>
    </div>
  </div>
</div>
