<div class="bg-sc-gray-5 px-6 xl:ml-72 2xl:ml-80 ">
  <div class="flex flex-col md:flex-row md:h-16 align-middle ">
    <div class="flex-grow flex items-center justify-center md:justify-start">
      <p class="my-6 md:my-0">©{{ site.time | date: '%Y' }} Scalingo</p>
    </div>
    <div class="flex flex-col md:flex-row items-center md:gap-10 text-sc-gray-2 space-y-5 md:space-y-0 pb-6 md:pb-0">
      <a class="hover:text-sc-blue-1" href="https://scalingo.com/general-terms-and-conditions" title="General Terms and Conditions">GTC</a>
      <a class="hover:text-sc-blue-1" href="https://scalingo.com/general-terms-of-use" title="General Terms of Use">GTU</a>
      <a class="hover:text-sc-blue-1" href="https://scalingo.com/data-processing-agreement" title="Data Processing Agreement">DPA</a>
      <a class="hover:text-sc-blue-1" href="https://scalingo.com/service-level-agreement" title="Service Level Agreement">SLA</a>
      <a class="hover:text-sc-blue-1" href="https://scalingo.com/gtc-appendix-health-data-hosting" title="Health Data Hosting">HDS</a>
    </div>
  </div>
</div>
