{% assign active_classes = " text-sc-blue-1" %}

{% comment %}
  Please don't try to simplify the following lines.
  They ensure `is_foo` is always a boolean, which is mandatory for the menu to
  work well.
{% endcomment %}

{% assign is_tutorials = false %}
{% if page.url == '/tutorials' or page.url contains '/tutorials/' %}
    {% assign is_tutorials = true %}
{% endif %}

{% assign is_samples = false %}
{% if page.url == '/samples' or page.url contains '/samples/' %}
    {% assign is_samples = true %}
{% endif %}

{% assign is_cli = false %}
{% if page.url == '/tools/cli/start' or page.url contains '/tools/cli/start/' %}
    {% assign is_cli = true %}
{% endif %}

{% assign is_changelog = false %}
{% if page.url == '/changelog' or page.url contains '/changelog/' %}
    {% assign is_changelog = true %}
{% endif %}

<div class="top-0 z-20 w-full text-sc-gray-1 font-medium hidden xl:block">
  <div class="bg-sc-gray-5 flex py-3 items-center fixed z-10 border-b-4 xl:border-b-0 border-sc-blue-3 w-full">
    <div class="w-80">
      <div class="ml-3 flex"><a class="py-2 px-3" href="/" title="Homepage">{% icon logo_full %}</a></div>
    </div>
    <div class="grow hidden xl:flex gap-6">
      <a href="/" class="py-2 px-5 hover:text-sc-blue-1{% unless (is_tutorials or is_samples or is_cli or is_changelog) %}{{ active_classes }}{% endunless %}">Documentation</a>
      <a href="/tutorials" class="py-2 px-5 hover:text-sc-blue-1{% if is_tutorials %}{{ active_classes }}{% endif %}">Tutorials</a>
      <a href="/samples" class="py-2 px-5 hover:text-sc-blue-1{% if is_samples %}{{ active_classes }}{% endif %}">Samples</a>
      <a href="/tools/cli/start" class="py-2 px-5 hover:text-sc-blue-1{% if is_cli %}{{ active_classes }}{% endif %}">CLI</a>
      <a href="/changelog" class="py-2 px-5 hover:text-sc-blue-1{% if is_changelog %}{{ active_classes }}{% endif %}">Changelog</a>
      <a href="https://developers.scalingo.com" target="_blank" class="py-2 hover:text-sc-blue-1">API Reference</a>
    </div>
    <div class="hidden xl:flex items-center">
      <a href="https://scalingo.com" class="mr-10 hover:text-sc-blue-1" target="_blank">scalingo.com</a>
      <a href="https://auth.scalingo.com/users/sign_in" class="mr-10 hover:text-sc-blue-1">Sign In</a>
      <div class="mr-6">
        {% include atoms/button.html href="https://auth.scalingo.com/users/sign_up" text="Sign up" %}
      </div>
    </div>
  </div>
  <div style="height: 68px;"></div>
</div>

<script type="text/javascript">
  document.querySelector("#mobile-menu").addEventListener("click", toggleMobileMenu, true);

  function toggleMobileMenu(e) {
    e.stopPropagation();

    let button = document.querySelector("#mobile-menu");
    let panels = document.querySelector("#mobile-menu-panels");
    let nav = document.querySelector("#mobile-menu-nav");
    let iconCross = document.querySelector("#mobile-menu-icon-cross");
    let iconHamburger = document.querySelector("#mobile-menu-icon-hamburger");
    let content = document.querySelector("#content");

    let buttonClasses = ['active']

    if (button.classList.contains('active')) {
      document.getElementById('full-nav-container').appendChild(document.getElementById('menu-nav'));
      button.classList.remove(...buttonClasses)
      iconHamburger.classList.remove("hidden");
      content.classList.remove("hidden");
      iconCross.classList.add("hidden");
      panels.classList.add("hidden");
      nav.classList.add("hidden");
    } else {
      document.getElementById('mobile-nav-container').appendChild(document.getElementById('menu-nav'));
      button.classList.add(...buttonClasses)
      iconHamburger.classList.add("hidden");
      content.classList.add("hidden");
      iconCross.classList.remove("hidden");
      panels.classList.remove("hidden");
      nav.classList.remove("hidden");
    }
  }
</script>
