<!DOCTYPE html>
<html lang='en'>
  <head>
    <link rel="stylesheet" href="https://use.typekit.net/ajl3atf.css">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="icon" href="data:,">
  </head>
  <body class="bg-sc-blue-3 text-sc-gray-2 text-sc-text-1">
    {% conditionaltrackers %}
    {% include google_tag_manager_body.html %}
    {% endconditionaltrackers %}
    <div class="min-h-screen">
      {{ content | extlinks }}
    </div>

    {% include organisms/footer.html %}
  </body>
  <script src="{{ "bundle.js" | asset_pack_path }}"></script>
</html>
