<!DOCTYPE html>
<html lang='en'>
  {% include organisms/head.html %}
  <body class="bg-sc-blue-3 text-sc-gray-2 text-sc-text-1">
    {% conditionaltrackers %}
    {% include organisms/google_tag_manager_body.html %}
    {% endconditionaltrackers %}
    <div class="fit_screen">
      {% include organisms/header.html %}
      <div class="flex flex-col xl:flex-row">
        <aside class="hidden w-full h-full xl:block overflow-y-scroll  xl:fixed xl:w-72 2xl:w-80 xl:flex-none bg-sc-gray-5 mb-24 xl:mb-0" id="mobile-menu-nav">
          {% include organisms/navigation/main.html %}
        </aside>
        <div class="hidden xl:block xl:w-72 2xl:w-80 xl:flex-none "></div>
        <main class="flex flex-grow justify-center pt-6 px-6 pb-12">
          {{ content | extlinks }}
        </main>
      </div>
    </div>
    {% include organisms/footer.html %}
  </body>
  <script src="{{ "bundle.js" | asset_pack_path }}"></script>
</html>
