---
layout: default
---

<div class="flex bg-sc-gray-5 w-full rounded-lg justify-center">
  <div class="flex xl:flex-row items-start flex-col-reverse xl:flex-grow m-10 justify-center relative">
    <article class="max-w-sc-content-720 text-sc-text-1">
      <h1 class="text-sc-gray-1 text-sc-title-1 font-bold mb-12 hidden xl:block">{{ page.title }}</h1>
      <section class="py-0">
        {{ content | inject_anchors }}
        <hr class="mt-12" />
        {% if page.modified_at %}
        <div class="flex flex-col md:flex-row justify-between mt-4">
          <span itemprop="datePublished" content="{{ page.modified_at }}">
            Last update: {{ page.modified_at | date_to_string }}
          </span>
          <a href="https://github.com/{{ site.github_username }}/documentation/edit/master/{{ page.path }}"
            class="flex items-center">
            <svg style="width: 14px;height: 14px;" aria-hidden="true" focusable="false" data-prefix="fas"
              data-icon="pen" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path fill="currentColor"
                d="M290.74 93.24l128.02 128.02-277.99 277.99-114.14 12.6C11.35 513.54-1.56 500.62.14 485.34l12.7-114.22 277.9-277.88zm207.2-19.06l-60.11-60.11c-18.75-18.75-49.16-18.75-67.91 0l-56.55 56.55 128.02 128.02 56.55-56.55c18.75-18.76 18.75-49.16 0-67.91z"
                class=""></path>
            </svg>
            <span class="ml-2">Suggest edits</span>
          </a>
        </div>
        {% endif %}
      </section>
    </article>
    <nav class="xl:w-sc-content-260 xl:pl-5 xl:ml-5 2xl:pl-10 2xl:ml-10 xl:py-10 xl:sticky xl:top-36 xl:border-l xl:border-sc-gray-3">
      {% include organisms/content_table.html html=content h_min=2 h_max=3 %}
    </nav>
    <h1 class="text-sc-gray-1 text-sc-title-1 font-bold mb-12 xl:hidden">{{ page.title }}</h1>
  </div>
</div>
