---
layout: default_with_main_navigation
---

<div class="flex bg-sc-gray-5 w-full rounded-lg justify-center">
    <div class="flex flex-row flex-grow mx-6 py-10 max-w-sc-content-1532">
        <article class="max-w-sc-content-720 text-sc-text-1">
            <header>
                <h1>{{ page.title }}</h1>
            </header>
            <section class="py-0">
                {{ content | inject_anchors }}
                <hr class="mt-12"/>
                {% if page.modified_at %}
                <div class="flex flex-row justify-between mt-4">
                    <span class="font-bold" itemprop="datePublished" content="{{ page.modified_at }}">
                        Last update: {{ page.modified_at | date_to_string }}
                    </span>
                    <a href="https://github.com/{{ site.github_username }}/documentation/edit/master/{{ page.path }}"
                       class="flex items-center text-sc-blue-1">
                        <svg style="width: 14px;height: 14px;" aria-hidden="true" focusable="false" data-prefix="fas"
                             data-icon="pen" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path fill="currentColor"
                                  d="M290.74 93.24l128.02 128.02-277.99 277.99-114.14 12.6C11.35 513.54-1.56 500.62.14 485.34l12.7-114.22 277.9-277.88zm207.2-19.06l-60.11-60.11c-18.75-18.75-49.16-18.75-67.91 0l-56.55 56.55 128.02 128.02 56.55-56.55c18.75-18.76 18.75-49.16 0-67.91z"
                                  class=""></path>
                        </svg>
                        <span class="ml-2">Suggest edits</span>
                    </a>
                </div>
                {% endif %}
            </section>
        </article>
        <div class="flex flex-grow"></div>
        <nav class="w-sc-content-620 px-10">
            {% include organisms/content_table.html html=content h_min=2 h_max=3 %}
        </nav>
    </div>
</div>
