<!DOCTYPE html>
<html lang="en">
  {% include organisms/head.html %}
  <body class="bg-sc-blue-3 text-sc-gray-2 text-sc-text-1">
    {% conditionaltrackers %}
    {% include organisms/google_tag_manager_body.html %}
    {% endconditionaltrackers %}
    {% include organisms/mobile_banner.html %}
    {% include organisms/mobile_menu.html %}
    <div id="content">
      <div class="fit_screen flex flex-col">
        {% include organisms/header.html %}
        <div class="flex flex-col xl:mt-17 xl:flex-row">
          <aside class="hidden w-full h-full xl:block overflow-y-scroll xl:fixed xl:w-72 2xl:w-80 xl:flex-none bg-sc-gray-5 mb-24 xl:mb-0" id="full-nav-container">
            {% include organisms/navigation/tutorials.html %}
          </aside>
          <div class="hidden xl:block xl:w-72 2xl:w-80 xl:flex-none "></div>
          <main class="flex grow justify-center pt-20 xl:pt-6 md:px-6 pb-6 md:pb-12 mx-2 md:mx-0">
            {{ content | extlinks }}
          </main>
        </div>
      </div>
      {% include organisms/footer.html %}
    </div>
  </body>
</html>
