---
title: Go
category: languages
date: 23/09/2014
tags: programming, dev, go, language
---

:markdown
  # Go

  The Go programming language is supported.

  ## Buildpack

  [Link to Go Buildpack](https://github.com/kr/heroku-buildpack-go)
