---
title: Access your database
category: databases
date: 12/03/2015
tags: databases
---

%h1 Access your database

Dependant on the type of database you have chosen, the way to access it is different:

%ul
  %li
    %a{href: "/databases/mysql/access.html"}MySQL
  %li
    %a{href: "/databases/postgresql/access.html"}PostgreSQL
  %li
    %a{href: "/databases/mongodb/access.html"}MongoDB
  %li
    %a{href: "/databases/redis/access.html"}Redis
  %li
    %a{href: "/databases/elasticsearch/access.html"}Elasticsearch
