---
title: Access your database
category: databases
date: 24/11/2014
tags: databases
---

%h1 Access your database

According to the type of database your have, the way to access it is different:

%ul
  %li
    %a{"/databases/mysql/access"}MongoDB
    %a{"/databases/postgresql/access"}PostgreSQL
    %a{"/databases/mongodb/access"}MongoDB
    %a{"/databases/redis/access"}Redis
    %a{"/databases/elasticsearch/access"}Elasticsearch
