@import "tailwindcss";
@import '@docsearch/css';

@theme {
  /* colors */
  --color-sc-gray-1: #1F2933;
  --color-sc-gray-2: #4E5A5F;
  --color-sc-gray-3: #E5E7EA;
  --color-sc-gray-4: #F8F9FA;
  --color-sc-gray-5: #FFFFFF;
  --color-sc-blue-1: #183BEE;
  --color-sc-blue-2: #D1D8FC;
  --color-sc-blue-3: #F8F9FF;
  --color-sc-turquoise-1: #22D1EE;
  --color-sc-turquoise-2: #A7EDF8;
  --color-sc-turquoise-3: #E9FAFD;
  --color-sc-yellow-1: #FFD600;
  --color-sc-yellow-2: #FFEF99;
  --color-sc-yellow-3: #FFFBE5;
  --color-sc-red-1: #E54732;
  --color-sc-red-2: #FFB3A9;
  --color-sc-red-3: #FFE7E4;
  --color-sc-orange-1: #FF8648;
  --color-sc-orange-2: #FFB792;
  --color-sc-orange-3: #FFEADF;
  --color-sc-purple-1: #8055FF;
  --color-sc-purple-2: #CFBFFF;
  --color-sc-purple-3: #F0EBFF;
  --color-sc-green-1: #00D1AF;
  --color-sc-green-2: #94F3E4;
  --color-sc-green-3: #DEFBF6;

  /* fonts */
  --font-sans: "aktiv-grotesk";
  --font-serif: "freight-text-pro";
  --font-mono: "fira-mono";

  /* width */
  --sc-container: "1440px";
  --sc-content: "1280px";
  --sc-content-620: "620px";
  --sc-content-720: "720px";
  --sc-content-880: "880px";
  --sc-content-1190: "1190px";
  --sc-content-1532: "1532px";

  /* font */
  --text-sc-text-1: 18px;
  --leading-sc-text-1: 28px;
  --text-sc-text-2: 16px;
  --leading-sc-text-2: 24px;
  --text-sc-text-4: 16px;
  --leading-sc-text-4: 20px;
  --text-sc-text-5: 16px;
  --leading-sc-text-5: 16px;
  --text-sc-text-6: 18px;
  --leading-sc-text-6: 20px;
  --text-sc-title-1: 32px;
  --leading-sc-title-1: 32px;
  --tracking-sc-title-1: -0.04em;
  --text-sc-title-1-1: 32px;
  --leading-sc-title-1-1: 48px;
  --tracking-sc-title-1-1: -0.04em;
  --text-sc-title-2: 26px;
  --leading-sc-title-2: 28px;
  --tracking-sc-title-2: -0.04em;
  --text-sc-title-2-2: 26px;
  --leading-sc-title-2-2: 40px;
  --text-sc-title-3: 22px;
  --leading-sc-title-3: 28px;
  --tracking-sc-title-3: -0.04em;
  --text-sc-title-4: 20px;
  --leading-sc-title-4: 28px;
  --tracking-sc-title-4: -0.04em;
  --text-sc-title-4-2: 20px;
  --leading-sc-title-4-2: 24px;
  --text-sc-title-5: 18px;
  --leading-sc-title-5: 28px;
  --tracking-sc-title-5: -0.04em;
  --text-sc-title-6: 16px;
  --leading-sc-title-6: 28px;
  --text-sc-title-6-2: 16px;
  --leading-sc-title-6-2: 20px;
  --text-sc-title-7: 12px;
  --leading-sc-title-7: 32px;
  --tracking-sc-title-7: 0.14em;
}

.text-sc-title-1 {
  font-size: var(--text-sc-title-1);
  line-height: var(--leading-sc-title-1);
  letter-spacing: var(--tracking-sc-title-1);
  font-weight: var(--font-weight-bold, 700);
}

.text-sc-title-1-1 {
  font-size: var(--text-sc-title-1-1);
  line-height: var(--leading-sc-title-1-1);
  letter-spacing: var(--tracking-sc-title-1-1);
  font-weight: var(--font-weight-bold, 700);
}

.text-sc-title-2 {
  font-size: var(--text-sc-title-2);
  line-height: var(--leading-sc-title-2);
  letter-spacing: var(--tracking-sc-title-2);
  font-weight: var(--font-weight-bold, 700);
}

.text-sc-title-2-2 {
  font-size: var(--text-sc-title-2-2);
  line-height: var(--leading-sc-title-2-2);
}

.text-sc-title-3 {
  font-size: var(--text-sc-title-3);
  line-height: var(--leading-sc-title-3);
  letter-spacing: var(--tracking-sc-title-3);
  font-weight: var(--font-weight-bold, 700);
}

.text-sc-title-4 {
  font-size: var(--text-sc-title-4);
  line-height: var(--leading-sc-title-4);
  letter-spacing: var(--tracking-sc-title-4);
  font-weight: var(--font-weight-bold, 700);
}

.text-sc-title-4-2 {
  font-size: var(--text-sc-title-4-2);
  line-height: var(--leading-sc-title-4-2);
}

.text-sc-title-5 {
  font-size: var(--text-sc-title-5);
  line-height: var(--leading-sc-title-5);
  letter-spacing: var(--tracking-sc-title-5);
  font-weight: var(--font-weight-bold, 700);
}

.text-sc-title-6 {
  font-size: var(--text-sc-title-6);
  line-height: var(--leading-sc-title-6);
}

.text-sc-title-6-2 {
  font-size: var(--text-sc-title-6-2);
  line-height: var(--leading-sc-title-6-2);
}

.text-sc-title-7 {
  font-size: var(--text-sc-title-7);
  line-height: var(--leading-sc-title-7);
  letter-spacing: var(--tracking-sc-title-7);
}

.text-sc-text-1 {
  font-size: var(--text-sc-text-1);
  line-height: var(--leading-sc-text-1);
}

.text-sc-text-2 {
  font-size: var(--text-sc-text-2);
  line-height: var(--leading-sc-text-2);
}

.text-sc-text-4 {
  font-size: var(--text-sc-text-4);
  line-height: var(--leading-sc-text-4);
}

.text-sc-text-5 {
  font-size: var(--text-sc-text-5);
  line-height: var(--leading-sc-text-5);
}

.text-sc-text-6 {
  font-size: var(--text-sc-text-6);
  line-height: var(--leading-sc-text-6);
}

.fit_screen {
  /* 100% screen size, minus header */
  min-height: calc(100vh - 68px);
}

/* Hack to scroll to the right element on target */
:target::before {
  content: '';
  display: block;
  height: 75px;
  margin-top: -75px;
}


/* Fix table on mobile */
@media screen and (max-width: 768px) {
  table {
    display: block !important;
    max-width: 95vw !important;
    overflow-x: auto !important;
    white-space: nowrap !important;
  }
}
@media screen and (max-width: 640px) {
  table {
    max-width: 91vw !important;
  }
}

article h2 {
  color: var(--color-sc-gray-1);
  font-size: var(--text-sc-title-2);
  line-height: var(--leading-sc-title-2);
  letter-spacing: var(--tracking-sc-title-2);
  font-weight: var(--font-weight-bold, 700);
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

article h3 {
  color: var(--color-sc-gray-1);
  font-size: var(--text-sc-title-3);
  line-height: var(--leading-sc-title-3);
  letter-spacing: var(--tracking-sc-title-3);
  font-weight: var(--font-weight-bold, 700);
  margin-bottom: 0.75rem;
  margin-top: 1.25rem;
}

article h4 {
  color: var(--color-sc-gray-1);
  font-size: var(--text-sc-title-4);
  line-height: var(--leading-sc-title-4);
  letter-spacing: var(--tracking-sc-title-4);
  font-weight: var(--font-weight-bold, 700);
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

article h5 {
  color: var(--color-sc-gray-1);
  font-size: var(--text-sc-title-5);
  line-height: var(--leading-sc-title-5);
  letter-spacing: var(--tracking-sc-title-5);
  font-weight: var(--font-weight-bold, 700);
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

article p {
  color: var(--color-sc-gray-2);
  margin-bottom: 0.5rem;
}

article li {
  margin-bottom: 0.75rem;
}

article ul {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

article a {
  text-decoration: underline;
  color: var(--color-sc-gray-1);
  transition: color 0.2s;
}

article a:hover {
  color: var(--color-sc-blue-1);
}

div.toc ul ul {
  margin-left: 1rem;
}

div.toc li {
  font-size: var(--text-sc-text-2);
  line-height: var(--leading-sc-text-2);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

article hr {
  border-color: var(--color-sc-gray-3);
}

article ul {
  list-style: none;
}

article ul:not(.list-unstyled)>li {
  position: relative;
  padding-left: 1.5em;
}

  /* Fix margin on mobile */
  @media screen and (max-width: 640px) {
    article ul:not(.list-unstyled)>li {
      padding-left: 1em;
    }
  }

article ul:not(.list-unstyled)>li:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 0.4em;
  height: 0.4em;
  top: 10px;
  left: 0.25em;
  background-color: var(--color-sc-blue-1);
}

article ol {
  list-style: list-outside;
}

article ol li {
  margin-left: 2rem;
  padding-left: 0.625rem;
}

/* Fix margin on mobile */
@media screen and (max-width: 768px) {
  article ol li {
    margin-left: 1.5rem;
    padding-left: .3rem;
  }
}

article ol>li::marker {
  color: #183BEE;
  font-weight: bold;
}

article ol ul li {
    margin-left: 0;
}

article aside.note {
  border: 1px solid var(--color-sc-purple-1);
  background-color: var(--color-sc-purple-3);
  color: var(--color-sc-purple-1);
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml, <svg width="16" height="16" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><g><path d="M3.67205 17.4954C3.60005 17.4954 3.52805 17.4594 3.45605 17.4234C3.34805 17.3514 3.27605 17.1714 3.31205 17.0274L4.89605 11.1234L0.144045 7.27138C4.50257e-05 7.19938 -0.035955 7.01938 4.50201e-05 6.87538C0.036045 6.73138 0.180045 6.62337 0.324045 6.62337L6.44405 6.29938L8.64005 0.575375C8.71205 0.467375 8.85605 0.359375 9.00005 0.359375C9.14405 0.359375 9.28805 0.467375 9.32405 0.575375L11.52 6.29938L17.64 6.62337C17.784 6.62337 17.928 6.73138 17.964 6.87538C18 7.01938 17.964 7.16338 17.856 7.27138L13.104 11.1234L14.688 17.0274C14.724 17.1714 14.688 17.3154 14.544 17.4234C14.436 17.4954 14.256 17.5314 14.148 17.4234L9.00005 14.1114L3.85205 17.4234C3.78005 17.4954 3.74405 17.4954 3.67205 17.4954Z" fill="%238055FF" /></g><defs><clipPath id="clip0_4076_10748"><rect width="18" height="18" fill="white" /></clipPath></defs></svg>');
  background-position: left 1.5rem top 1.75rem;
  padding: 1.5rem;
  padding-left: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 1rem;

}

article aside.note p,
article aside.note ul,
article aside.note ol {
  color: var(--color-sc-purple-1);
}

article aside.note li::before {
  background-color: rgb(128, 85, 255);
}

article aside svg {
  flex: none;
}

article aside.note a {
  color: var(--color-sc-purple-1);
  font-weight: var(--font-weight-bold, 700);
}

article aside.note code.language-plaintext {
  background-color: var(--color-sc-purple-2);
  color: var(--color-sc-purple-1);
}

article aside.warning {
  border: 1px solid var(--color-sc-red-1);
  background-color: var(--color-sc-red-3);
  color: var(--color-sc-red-1);
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.99995 1.79688C8.50101 1.79688 8.07359 2.10091 7.89253 2.53398L1.38042 13.7652V13.7664C1.26289 13.9557 1.2004 14.174 1.19995 14.3969C1.19995 14.7151 1.32638 15.0204 1.55142 15.2454C1.77647 15.4704 2.08169 15.5969 2.39995 15.5969C2.42811 15.5967 2.45625 15.5955 2.48433 15.5934L2.48667 15.5969H8.99995H15.5132L15.5156 15.5922C15.5436 15.5947 15.5718 15.5963 15.5999 15.5969C15.9182 15.5969 16.2234 15.4704 16.4485 15.2454C16.6735 15.0204 16.7999 14.7151 16.7999 14.3969C16.7997 14.1736 16.7372 13.9549 16.6195 13.7652L16.6101 13.7488C16.6097 13.7484 16.6093 13.748 16.6089 13.7477L10.1074 2.53398C9.92631 2.10091 9.49889 1.79688 8.99995 1.79688ZM8.27221 6.8125H9.72768L9.60698 10.6961H8.39292L8.27221 6.8125ZM9.00229 11.8832C9.49549 11.8832 9.79096 12.1486 9.79096 12.6016C9.79096 13.0462 9.49549 13.3105 9.00229 13.3105C8.50549 13.3105 8.20776 13.0462 8.20776 12.6016C8.20776 12.1486 8.50489 11.8832 9.00229 11.8832Z" fill="%23E54732" /></svg>');
  background-position: left 1.5rem top 1.75rem;
  padding: 1.5rem;
  padding-left: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 1rem;
}

article aside.warning p,
article aside.warning ul,
article aside.warning ol {
  color: var(--color-sc-red-1);
}

article aside.warning li::before {
  background-color: rgb(229 71 50);
}

article aside.warning a {
  color: var(--color-sc-red-1);
  font-weight: var(--font-weight-bold, 700);

}

article aside.warning code.language-plaintext {
  background-color: var(--color-sc-red-2);
  color: var(--color-sc-red-1);
}

article aside.note ul,
article aside.note ol,
article aside.warning ul,
article aside.warning ol {
  margin: 0;
}

article table {
  border: 1px solid var(--color-sc-gray-3);
  table-layout: auto;
  width: 100%;
  font-size: var(--text-sc-text-4);
  line-height: var(--leading-sc-text-4);
  color: var(--color-sc-gray-1);
  margin-bottom: 1.5rem;
}

article .overflow-horizontal-content {
  overflow-x: auto;
  width: 95vw;
}

@media (min-width: 640px) {
  article .overflow-horizontal-content {
    width: auto;
  }
}

article table th {
  background-color: var(--color-sc-gray-5);
  text-align: left;
  text-transform: uppercase;
  font-size: var(--text-sc-title-7);
  line-height: var(--leading-sc-title-7);
  letter-spacing: var(--tracking-sc-title-7);
  font-weight: var(--font-weight-bold, 700);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 0.75rem;

}

article table td {
  padding: 1.25rem;
}

article tr:nth-child(odd) {
  background-color: var(--color-sc-gray-4);
}

.changelog input:checked~label svg {
  transform: rotate(180deg);
}

.changelog input:checked+label+div {
  display: block;
}

/* Reset the fixed height of the horizontal menu */
#menu-nav{
  padding-bottom: 150px;
}

nav li a:hover,
nav label:hover{
  color: var(--color-sc-blue-1);
}

nav input:checked~label svg {
  transform: rotate(90deg);
}

nav input:checked+label+hr+div {
  display: block;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

.DocSearch {
  --docsearch-modal-background: #F8F9FF;
  --docsearch-searchbox-background: #FFFFFF;
  --docsearch-text-color: #1F2933;
  --docsearch-primary-color: #183BEE;
  --docsearch-logo-color: #183BEE;
  --docsearch-highlight-color: var(--docsearch-primary-color);
  --docsearch-searchbox-shadow: inset 0 0 0 1px var(--docsearch-primary-color);
}

.DocSearch.DocSearch-Button {
  width: 100%;
  border-radius: 0.375rem;
  color: var(--color-sc-gray-1);
  margin: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 3.5rem;
  border: 1px solid #D2D9F9;
  box-sizing: border-box;
}

.DocSearch .DocSearch-Search-Icon {
  color: var(--color-sc-blue-1);
  flex: none;
}

.DocSearch .DocSearch-Button-Placeholder {
  color: var(--color-sc-gray-2);
  font-weight: 400;
  padding-left: 1rem;
}

.DocSearch-Input {
  outline: none;
}

#breadcrumb a {
  color: var(--color-sc-gray-2);
  text-decoration: none;
}

#breadcrumb a:hover {
  color: var(--color-sc-gray-1);
}

article pre {
  box-shadow: 0 10px 15px -3px rgba(31, 41, 55, 0.1), 0 4px 6px -4px rgba(31, 41, 55, 0.1);
  font-size: 14px;
  line-height: 18px;
  background-color: #060C20;
  overflow-x: auto;
  padding: 2rem;
  border-radius: 0.5rem;
  color: var(--color-sc-gray-3);
  font-family: var(--font-mono);
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

  /* Remove extra margins for code blocks inside list items */
  article ol pre,
  article ul pre{
    margin-left: 0;
  }

  /* Fix margin on mobile */
  @media screen and (max-width: 768px) {
    article pre {
      padding: 1.5rem;
    }
  }

@media (min-width: 640px) {
  article pre {
    margin-left: 0;
    margin-right: 0;
    max-width: none;
  }
}

article code.language-plaintext {
  background-color: var(--color-sc-gray-3);
  color: var(--color-sc-gray-2);
  font-family: var(--font-mono);
  border-radius: 0.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

article code {
  word-break: break-all;
}

@media (min-width: 640px) {
  article code {
    word-break: normal;
  }
}

article .domain-name-ct {
  color: #D28847;
}

article .domain-name-ap {
  color: #eeac3a;
}

article .domain-name-pn {
  color: #36ce7a;
}

article .domain-name-nid {
  color: #3394f5;
}

article dt {
    font-weight: bold;
}

article dd {
  margin: 0 0 1rem 2rem;
}

blockquote {
  border-left: 2px solid #DDD;
  font-style: italic;
  margin: 0.5rem 0 0.5rem 1rem;
  padding: 0 0 0 1rem;
}

.highlight .hll {
  background-color: #060C20;
}

.highlight .c {
  color: #75715e
}

/* Comment */
.highlight .err {
  color: #960050;
  background-color: #1e0010
}

/* Error */
.highlight .k {
  color: #66d9ef
}

/* Keyword */
.highlight .l {
  color: #ae81ff
}

/* Literal */
.highlight .n {
  color: #f8f8f2
}

/* Name */
.highlight .o {
  color: #f92672
}

/* Operator */
.highlight .p {
  color: #f8f8f2
}

/* Punctuation */
.highlight .cm {
  color: #75715e
}

/* Comment.Multiline */
.highlight .cp {
  color: #75715e
}

/* Comment.Preproc */
.highlight .c1 {
  color: #75715e
}

/* Comment.Single */
.highlight .cs {
  color: #75715e
}

/* Comment.Special */
.highlight .ge {
  font-style: italic
}

/* Generic.Emph */
.highlight .gs {
  font-weight: bold
}

/* Generic.Strong */
.highlight .kc {
  color: #66d9ef
}

/* Keyword.Constant */
.highlight .kd {
  color: #66d9ef
}

/* Keyword.Declaration */
.highlight .kn {
  color: #f92672
}

/* Keyword.Namespace */
.highlight .kp {
  color: #66d9ef
}

/* Keyword.Pseudo */
.highlight .kr {
  color: #66d9ef
}

/* Keyword.Reserved */
.highlight .kt {
  color: #66d9ef
}

/* Keyword.Type */
.highlight .ld {
  color: #e6db74
}

/* Literal.Date */
.highlight .m {
  color: #ae81ff
}

/* Literal.Number */
.highlight .s {
  color: #e6db74
}

/* Literal.String */
.highlight .na {
  color: #a6e22e
}

/* Name.Attribute */
.highlight .nb {
  color: #f8f8f2
}

/* Name.Builtin */
.highlight .nc {
  color: #a6e22e
}

/* Name.Class */
.highlight .no {
  color: #66d9ef
}

/* Name.Constant */
.highlight .nd {
  color: #a6e22e
}

/* Name.Decorator */
.highlight .ni {
  color: #f8f8f2
}

/* Name.Entity */
.highlight .ne {
  color: #a6e22e
}

/* Name.Exception */
.highlight .nf {
  color: #a6e22e
}

/* Name.Function */
.highlight .nl {
  color: #f8f8f2
}

/* Name.Label */
.highlight .nn {
  color: #f8f8f2
}

/* Name.Namespace */
.highlight .nx {
  color: #a6e22e
}

/* Name.Other */
.highlight .py {
  color: #f8f8f2
}

/* Name.Property */
.highlight .nt {
  color: #f92672
}

/* Name.Tag */
.highlight .nv {
  color: #f8f8f2
}

/* Name.Variable */
.highlight .ow {
  color: #f92672
}

/* Operator.Word */
.highlight .w {
  color: #f8f8f2
}

/* Text.Whitespace */
.highlight .mf {
  color: #ae81ff
}

/* Literal.Number.Float */
.highlight .mh {
  color: #ae81ff
}

/* Literal.Number.Hex */
.highlight .mi {
  color: #ae81ff
}

/* Literal.Number.Integer */
.highlight .mo {
  color: #ae81ff
}

/* Literal.Number.Oct */
.highlight .sb {
  color: #e6db74
}

/* Literal.String.Backtick */
.highlight .sc {
  color: #e6db74
}

/* Literal.String.Char */
.highlight .sd {
  color: #e6db74
}

/* Literal.String.Doc */
.highlight .s2 {
  color: #e6db74
}

/* Literal.String.Double */
.highlight .se {
  color: #ae81ff
}

/* Literal.String.Escape */
.highlight .sh {
  color: #e6db74
}

/* Literal.String.Heredoc */
.highlight .si {
  color: #e6db74
}

/* Literal.String.Interpol */
.highlight .sx {
  color: #e6db74
}

/* Literal.String.Other */
.highlight .sr {
  color: #e6db74
}

/* Literal.String.Regex */
.highlight .s1 {
  color: #e6db74
}

/* Literal.String.Single */
.highlight .ss {
  color: #e6db74
}

/* Literal.String.Symbol */
.highlight .bp {
  color: #f8f8f2
}

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #f8f8f2
}

/* Name.Variable.Class */
.highlight .vg {
  color: #f8f8f2
}

/* Name.Variable.Global */
.highlight .vi {
  color: #f8f8f2
}

/* Name.Variable.Instance */
.highlight .il {
  color: #ae81ff
}

/* Literal.Number.Integer.Long */

.highlight .gh {}

/* Generic Heading & Diff Header */
.highlight .gu {
  color: #75715e;
}

/* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd {
  color: #f92672;
}

/* Generic.Deleted & Diff Deleted */
.highlight .gi {
  color: #a6e22e;
}

.tag {
    background-color: var(--sc-color-purple-3);
    border: 1px solid var(--sc-color-purple-2);
    border-radius: 4px;
    color: var(--sc-color-purple-1);
    display: flex;
    margin: 4px;
    padding: 2px 4px;
}

/*
Fix PRE tags overflow by adding min-width:0 on key elements
source: https://weblog.west-wind.com/posts/2016/feb/15/flexbox-containers-pre-tags-and-managing-overflow
*/
div, span, html, body, ul, article, main, nav {
  min-width: 0;
}
