%ul.sidebar-nav
  %li.sidebar-brand
    %a{href: "/"}
      = image_tag "avatar-tiny.png"
  %li
    %h2 Getting Started
  %li First steps on Appsdeck
  %li Deployment

  %li
    %h2 Languages
  %li Ruby
  %li NodeJS
  %li PHP
  %li Go
  %li Python
