---
title: Getting Started with Rails
category: languages
date: 17/10/2014
tags: programming, dev, ruby, rails, language, tutorial
---

%h1 Getting started with Rails

%h2 Initialize your application

:markdown
  ```bash
  $ rails new rails-app

  # 
  # It creates file and run 'bundle install'
  #

  $ git init
  $ git add .
  $ git commit -m "Base rails application"
  ```

%h2 Create your application on Scalingo

%blockquote.info
  You can also use our web dashboard to achieve this operation

:markdown
  ```bash
  $ scalingo create ruby-app
  Git repository detected: remote scalingo added
  → 'git push scalingo master' to deploy your app
  ```

%h2 Provision your database

:markdown 
  * Go on the [dashboard](https://my.scalingo.com/apps) of your application.
  * Select the __Addons__ tab
  * Choose the database you want to use
  * Select the __Environment__ tab

%h3 PostgreSQL

:markdown

  Add the gem `pg` to your `Gemfile` and set the following environment variable:

  * `DATABASE_URL` → `$APPSDECK_POSTGRESQL_URL`

%h3 MySQL

:markdown

  Add the gem `mysql2` to your `Gemfile` and set the following environment variable:

  * `DATABASE_URL`
    → Copy the value of `APPSDECK_MYSQL_URL` and replace 'mysql://' by 'mysql2://'

%h3 MongoDB

:markdown
  To use a MongoDB database your need to add the gem `mongoid` to your `Gemfile`

  [Configure Mongoid](/languages/ruby/configure-mongoid.html)

%h2 Setup your application logging

:markdown
  By default, rails application don't write their logs to STDOUT but in a custom file.
  We expect your applications to write all their logging entries to STDOUT and STDERR
  according to their nature, in accordance to the [12 factors](http://12factor.net)

  * Add the following gem in your `Gemfile`: `gem "rails_12factor"`

%h2 Finalize and deploy

:markdown
  ```bash
  $ bundle install
  $ git add .
  $ git commit -m "Configure application for Scalingo"
  $ git push scalingo master
  ```


%h2 Access your application

:markdown
  ```
   …
   Waiting for your application to boot... 
   <-- https://ruby-app.scalingo.io -->
  ```

  Yes a new application will render a 404 error `The page you were looking for doesn't exist.`,
  but it's normal, there is nothing in the project, it's time to build your product!
