---
title: Ruby
category: languages
date: 23/09/2014
tags: programming, dev, ruby, language
---

:markdown

  # Ruby

  The ruby language is supported

  ## Buildpack

  [Link to Ruby Buildpack](https://github.com/Appsdeck/heroku-buildpack-ruby)

  The buildpack is based on `bundler`, so on the `Gemfile` and `Gemfile.lock` of your project

  ## Specifying a custom ruby version

  Gemfile:

  ```ruby
  source "https://rubygems.org"

  ruby "2.1.3"

  …
  ```
