<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link href="/css/extra.css" rel="stylesheet">

    <!-- Optional theme -->
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"> -->

    <link href="//fonts.googleapis.com/css?family=Cabin+Condensed:400,700" media="screen" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Droid+Sans:400,700" media="screen" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Droid+Sans+Mono" media="screen" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic" media="screen" rel="stylesheet" />
    <link href="https://appsdeck.eu/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <a href="/" class="brand">
          Appsdeck Documentation
        </a>
        <ul class="nav">
          <li><a href="/">Home</a></li>
        </ul>
      </div>
    </div>
  </div>

    {{ content }}

  </body>
</html>
