---
layout: default
---

<div class="card" style="top: 71px;">
  <div class="card-block">
    <div class="github-edit pull-right mdl-layout--large-screen-only">
      <a href="https://github.com/{{ site.github_username }}/documentation/edit/gh-pages/{{ page.path }}">
        <i class="fa fa-pencil fa-fw"></i> Suggest edits
      </a>
    </div>
    <h2 class="card-title">{{ page.title }}</h2>
    <p class="card-text">
      {{ content }}
    </p>
    <div class="modified-at pull-right">
      <i class="material-icons">schedule</i> {{ page.modified_at | date_to_long_string }}
    </div>
  </div>
</div>
