---
layout: default_with_main_navigation
toc: true
main_class: d-md-flex
---

<article>
  <header>
    {% include breadcrumb.html %}
    <h1>{{ page.title }}</h1>
  </header>
  <div class="mobile-nav d-block d-md-none">
    <nav class="my-2">
      {% include toc.html html=content h_min=2 h_max=3 %}
    </nav>
  </div>
  <section class="page-content py-0">
    {{ content | inject_anchors }}
    <hr class="mt-5" />
    {% if page.modified_at %}
    <div class="d-flex flex-row justify-content-between mt-4">
      <span class="footer-date" itemprop="datePublished" content="{{ page.modified_at }}">
        Last update: {{ page.modified_at | date_to_string }}
      </span>
      <a href="https://github.com/{{ site.github_username }}/documentation/edit/master/{{ page.path }}" class="text-muted">
        <i class="material-icons">mode_edit</i>
        Suggest edits
      </a>
    </div>
    {% endif %}
  </section>
</article>
<div class="page-nav d-none d-md-block">
  <nav>
    {% include toc.html html=content h_min=2 h_max=3 %}
  </nav>
</div>
