---
layout: default
---
<div class="container">

  <div class="row">
    <div class="col-lg-3">
      {% for current_category in page.categories limit:1 %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ current_category | replace: '-', ' ' | capitalize }}</h3>
        </div>
        <div class="panel-body">
        <ul class="list-unstyled">
          {% for post in site.categories[current_category] %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-lg-9">
      <div class="block">
        <h1>{{ page.title }}</h1>
        <p class="text-muted">Last updated: {{ page.date | date_to_string }}</p>
        {{ content }}
      </div>
    </div>
  </div>
</div>
