---
title: First Steps
category: getting-started
date: 09/02/2015
tags: tutorial, follow-the-light
---

:markdown

  # First Steps

  ## Getting started with:

  * [Ruby on Rails](/languages/ruby/getting-started-with-rails.html)
  * [Python - Django](/languages/python/getting-started-with-django.html)
  * [JS - NodeJS - Express](/languages/javascript/nodejs/getting-started-with-nodejs.html)
  * [JS - NodeJS - Meteor](/languages/javascript/nodejs/getting-started-with-meteor.html)
  * [JS - iojs - Express](/languages/javascript/iojs/getting-started-with-iojs.html)

%blockquote.tip
  We support a lot of technologies, ask for your tutorial!
  = link_to "support@scalingo.com", "mailto:support@scalingo.com"
