---
title: First Steps
category: getting-started
date: 23/09/2014
tags: tutorial, follow-the-light
---

:markdown

  # First Steps

  * (Ruby on Rails)[/languages/ruby/getting-started-with-rails.html]
