---
title: First Steps
category: getting-started
date: 23/09/2014
tags: tutorial, follow-the-light
---

:markdown

  # First Steps

  ## Getting started with:

  * [Ruby on Rails](/languages/ruby/getting-started-with-rails.html)
  * [NodeJS - Express](/languages/nodejs/getting-started-with-nodejs.html)
  * [NodeJS - Meteor](/languages/nodejs/getting-started-with-meteor.html)

%blockquote.tip
  We support a lot of technologies, ask for your tutorial!
  = link_to "support@appsdeck.eu", "mailto:support@appsdeck.eu"
