.row
  .col-xs-12.col-sm-6
    .well
      %h2 Getting started
      %ul.list-unstyled
        %li
          %a{href: "/first-steps"}First Steps
        %li
          %a{href: "/cli"}Command Line Tool
        %li
          %a{href: "/heroku-compatibility"}Heroku compatibility
        %li
          %a{href: "/internals/procfile.html"}Procfile - How your app is started
        %li
          %a{href: "/internals/container-sizes.html"}Container sizes description
        %li
          %a{href: "/app/environment.html"}Environment - Configure your app
        %li
          %a{href: "/app/domain.html"}App - Setup a custom domain name
        %li
          %a{href: "/databases"}Databases
        %li
          %a{href: "/internals"}Internals
  .col-xs-12.col-sm-6
    .well
      %h2
        %a{href: "/languages"} Languages documentation
      %ul.list-unstyled
        - blog.by_top_category("languages")[0...10].each do |article|
          %li
            %a{href: article.url}=article.title

.row
  .col-xs-12.col-sm-6
    .well
      %h2 Recent Activity
      %ul.list-unstyled
        - blog.articles[0...10].each do |article|
          %li
            = link_to article.url do
              = article.title
              %span.last-article-date.pull-right
                = article.date.strftime("%d-%m-%Y")

  .col-xs-12.col-sm-6
    .well
      %h2
        %a{href: "/databases"} Databases
      %ul.list-unstyled
        - blog.by_top_category("databases")[0...10].each do |article|
          %li
            %a{href: article.url}=article.title
