---
title: Languages
category: languages
date: 23/09/2014
tags: index-languages, polyglot
---

:markdown

  # Internals

  _-- Soon_


  # Article about 'languages'

%ul.list-unstyled
  - blog.by_top_category("languages")[0...5].each do |article|
    %li
      %a{href: article.url}=article.title
