---
title: Python
category: languages
date: 23/09/2014
tags: programming, dev, python, language
---

:markdown
  # Python

  The python Language is supported

  ## Buildpack

  [Link to Python Buildpack](https://github.com/Scalingo/heroku-buildpack-python)
